
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2> <!--Pagamenti-->

<table>
    <caption>Elenco Pagamenti</caption>
    <thead>
        <tr>
            <th>Periodo del Pagamento</th>
            <th>Ammontare del Pagamento</th>
            <th>Acconto o Stipendio</th>
            <th>ID Dipendente</th>
        </tr>
    </thead>
    <tbody>
        @foreach (MVC_AziendaEdile.Models.Pagamento p in Model)
        {
            <tr>
                <td>@p.PeriodoPagamento</td>
                <td>@p.AmmontarePagamento</td>
                <td>@p.AccontoStipendio</td>
                <td>@p.IDDipendente</td>
            </tr>
        }
    </tbody>
</table>

<a class="text-decoration-none fw-bold m-1" href="~/Home/Index">Torna alla Home</a>

