@{
    ViewBag.Title = "Home Page";
}

<main>
    <h1>Azienda Edile</h1>
    <hr />
    <div>
        <h5>Dipendenti</h5>
        <a class="text-decoration-none fw-bold m-1" href="~/Dipendente/Index">Elenco Dipendenti</a>
        <a class="text-decoration-none fw-bold m-1" href="~/Dipendente/Create">Aggiungi Dipendente</a>
    </div>
    <hr />
    <div>
        <h5>Pagamenti</h5>
        <a class="text-decoration-none fw-bold m-1" href="~/Pagamento/Index">Elenco Pagamenti</a>
        <a class="text-decoration-none fw-bold m-1" href="~/Pagamento/Create">Aggiungi Pagamento</a>
    </div>
</main>